
    #sidebar {
        width: 100%;
        min-height: 300px;
        float: right;
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
        position: relative;
        z-index: 999;


    }
    #sidebar-body * {
        font-size : 12px;
    }

    /*#sidebar:hover {*/
    /*height: 100px;*/
    /*width:10%;*/
    /*transition: width 1s linear;*/
    /*}*/

    .hidden-on-expand {
        display: none;
    }

    /*#sidebar .hidden-on-expand {*/
    /*display: none;*/
    /*}*/
    #sidebar .sidebar-body {
        display: block;
        padding: 10px;
        margin: 40px 20px;
    }

    @media only screen and (max-width: 993px) {
        /*@media #{$medium-and-down} {*/
        .container {
            width: 100% !important;
        }

        #sidebar {
            width: 350px;
            transition: width 0.3s ease-in-out;
            height: -webkit-fill-available;
        }

        .hidden-on-expand {
            display: block;
            position: absolute;
            margin: 20px;
            /*left: 10px;*/
            /*top: 10px;*/
        }

        #sidebar:not(:focus-within) .sidebar-body > * {
        / / display: none;
            opacity: 0;
            /*transition:0.1s ease-in-out;*/

        }

        /*#sidebar.reduce-animate .sidebar-body > * {*/
        /*opacity:0;*/
        /*transition:0.1s ease-in-out;*/
        /*}*/
        #sidebar:not(:focus-within) {
            /*min-width: 80px;*/
            /*max-width: 80px;*/
            width: 80px;
            text-align: center;
            max-height: fit-content;
            transition: width 0.3s ease-in-out;
        }

    }
/*
.ctrl {
    margin: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D5DCE6;
  background-color: #fff;
  border-radius: 5px;
  //font-size: 30px;
}
.ctrl__counter {
  width: 100px;
  position: relative;
  color: #333C48;
  text-align: center;
  overflow: hidden;

}
.ctrl__counter.is-input .ctrl__counter-num {
  visability: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in;

}
.ctrl__counter.is-input .ctrl__counter-input {
  visability: visible;
  opacity: 1;
  transition: opacity 100ms ease-in;
}
.ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  //font-size: 30px;
  //line-height: 20px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
.ctrl__counter-num {
    width: 100%;
    text-align: center;
     background-color: transparent;
     border: none;
     border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 16px;
}
*/
.tabs{
    min-height: max-content;
}

.collection-item  .badge.custom-badge{
    border-radius: 0.5em;
    background-color: #d81b60;
    color: #FFFFFF;
    font-size: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.collection-item{
    position:relative;
}
.collection-item .btn-action{
    min-width: 100px;
    bottom: 10px;
    position: absolute;
}
.padded{
    margin-top: 1em;
    margin-bottom: 1em;
}

nav{
    background-color: #fe7676
}
nav .brand-logo {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #faf7f2;
}
body{
 background-color : #faf7f2;
}