.color-box {
    height:540px;
    background-color:#fe7676;
    width: 100%
}


.error-num-box {
    width:100%;
    height: 170px;
}

.error-msg-box {
    width:100%;
    height: 150px;
}

.error-num {
    text-align: center;
    font-size:6vw;
    color: #fff;
    font-weight: bold;
    letter-spacing:50px
}
.error-msg {
    text-align: center;
    font-size: 3vw;
    color: #fff;
    font-weight: bold;
    letter-spacing:10px
}

.img-content {
    width:100%;
    height:100%;
}

.img-box {
    width:50%;
    height:30%;
    padding-bottom:80%;
    margin: auto;
}

.btn-box {
    position: relative;
    display: block;
    margin: auto;
}
.back-btn {
    margin: auto;
    margin-top: 30px;
    border-color: #fff;
    background-color: #fe7676;
    color: #fff;
    border: 1px;
    border-width: 1px;
    border-style: solid;
}

.back-btn:hover{
    background-color: #F0A1BF;
}

.back-btn:focus{
    background-color: #F0A1BF;
}

.error-background {
    background-color: #faf7f2;
    height: 1000px;
    width: 100%;
}

.card-panel {
    width:600px;
    height:400px;
    margin-top: 200px;
    background-image: url("/images/card-img.png");
    display: inline-block;
    background-size: 100%;
}

.card-content {
    padding-right: 35%;
    font-size: 20px;
    color: white;
}

.card-title {
    padding-right: 35%;
    font-size: 35px;
    color: white;
}