.modal {
    width: 55%;
    height: 80%;
    max-height: 80%;
}


.info-store-name {
    position: fixed;
    width:100% !important;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #274c5e !important;
    z-index:1;
    margin: 0;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0), 0 6px 30px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    opacity: 0.8;
}

.info-title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: right;
}

.info-description {
    font-size: 1.5vw;
    text-align: center;
}

.info-contents {
    font-size: 1.5vw;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .info-contents {
        text-align: center;
    }
}

.section {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0), 0 6px 30px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 992px) {
    .info-title {
        text-align: center;
    }
}

.info-map {
    position: relative;
    margin: auto;
    margin-bottom: 200px;
}

.parallax-container .parallax img {
    opacity: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}

.parallax-container {
    height : 1000px;
}

@media only screen and (max-width: 1192px) {
    .modal {
        width: 65%;
        height: 80%;
        max-height: 80%;
    }
    .parallax-container {
        height : 800px;
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 80%;
        height: 80%;
        max-height: 80%;
    }
    .parallax-container {
        height : 700px;
    }
}

.btn-info {
    background-color: rgba(0,0,0,0);
    color: #274c5e;
    font-size: 10px;
}