.divider {
    height: 1px;
    overflow: hidden;
    background-color: #505050; /*change*/
}

nav {
    color: #274c5e; /*change*/
    background-color: #FFFFFF; /*change*/
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav a {
    color: #274c5e; /*change*/
}

nav .brand-logo {
    position: absolute;
    color: #274c5e; /*change*/
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin: 0 20px 0 20px;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #274c5e; /*change*/
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #2f343a; /*change*/
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #385d6f; /*change*/
}

.modal:focus {
    outline: none;
}


::-webkit-input-placeholder {
    color: #9e9e9e; /*change*/
    position: absolute; /*change*/
    top: 0; /*change*/
    left: 0; /*change*/
    font-size: 1rem; /*change*/
}

::-moz-placeholder {
    color: #9e9e9e; /*change*/
    position: absolute; /*change*/
    top: 0; /*change*/
    left: 0; /*change*/
    font-size: 1rem; /*change*/
}

:-ms-input-placeholder {
    color: #9e9e9e; /*change*/
    position: absolute; /*change*/
    top: 0; /*change*/
    left: 0; /*change*/
    font-size: 1rem; /*change*/
}

::placeholder {
    color: #9e9e9e; /*change*/
    position: absolute; /*change*/
    top: 0; /*change*/
    left: 0; /
    font-size: 1rem; /*change*/
}

.input-field-nonmsg { /*change*/
    position: relative; /*change*/
}

.input-field.inline {
    display: inline-block;
    vertical-align: top; /*change*/
    margin-left: 5px;
}

.input-field .helper-text {
    width: 80%; /*change*/
    position: relative;
    min-height: 12px; /*change*/
    display: block;
    font-size: 10px; /*change*/
    color: rgba(0, 0, 0, 0.54);
}

.input-title { /*change*/
    display: table-cell; /*change*/
    font-size: 16px; /*change*/
    font-weight: 500; /*change*/
    color: rgba(0, 0, 0, 0.54); /*change*/
    margin: 14.5px 0 0 0; /*change*/
    padding: 15px 0 0 10.5px !important; /*change*/
    height: 44.5px; /*change*/
    vertical-align: bottom; /*change*/
}

.input-title { /*change*/
    display: table-cell; /*change*/
    font-size: 16px; /*change*/
    font-weight: 500; /*change*/
    color: rgba(0, 0, 0, 0.54); /*change*/
    margin: 29.5px 0 0 0; /*change*/
    padding: 0 0 0 10.5px !important; /*change*/
    height: 44.5px; /*change*/
    vertical-align: bottom; /*change*/
    position: relative;
}

.input-title > label {
    position: absolute;
    color: red;
    top: -14.5px;
    font-size: 5.5px;
}

@media only screen and (max-width: 992px) {
    .input-title { /*change*/
        margin: 14.5px 0 0 0; /*change*/
        height: auto; /*change*/
        padding: 7.5px 0 0 10.5px !important; /*change*/
    }
    .input-field {
        margin-top: 0;
    }

    .input-title > label {
        position: absolute;
        top: -14.5px;
        font-size: 5.5px;
        color: red;
    }
}

.character-counter {
    min-height: 12px; /*change*/
}

.file-field input.file-path {
    font-size: 12px; /*change*/
    color: #313131; /*change*/
    width: 100%;
}

.file-field .btn, .file-field .btn-large, .file-field .btn-small {
    float: left;
    height: 44.5px; /*change*/
    line-height: 3rem;
}

.sidenav {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fe7676; /*change*/
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.sidenav li > a {
    color: rgba(0, 0, 0, 0.85); /*change*/
    display: block;
    font-size: 14px;
    font-weight: 300; /*change*/
    height: 36px; /*change*/
    line-height: 32px; /*change*/
    padding: 0 32px;
}

.sidenav .divider {
    margin: 2px 20px 5px 20px; /*change*/
    background-color: #faf7f2;
}

.sidenav .title { /*change*/
    font-size: 32px; /*change*/
    font-weight: bold; /*change*/
    text-align: center; /*change*/
    margin: 15px 0 30px 0; /*change*/
    color: #faf7f2;
}

.sidenav .subtitle { /*change*/
    font-size: 22px; /*change*/
    font-weight: 500; /*change*/
    margin: 0px 0px 0px 20px; /*change*/
    color: #faf7f2;
}

.sidenav .menu {
    font-size: 16px; /*change*/
    color: #faf7f2;
    font-weight: 400;
}

input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=email]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=time]:not(.browser-default):focus.valid ~ label,
input[type=date]:not(.browser-default):focus.valid ~ label,
input[type=datetime]:not(.browser-default):focus.valid ~ label,
input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
input[type=tel]:not(.browser-default):focus.valid ~ label,
input[type=number]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea:focus.valid ~ label {
    color: #26a69a;
}

input.valid:not([type]), input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}


.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .rounded{

     position: absolute;
     max-width: 100%;
     width: 120px;
     height: 120px;
     border-radius: 10%;
     overflow: hidden;
     left: 15px;
     display: inline-block;
     vertical-align: middle;
 }

.collection .collection-item.avatar {
     min-height: 84px;
     padding-left: 140px;
     position: relative;
 }

.sidenav li > a:hover {
    margin: 0 5px 0 5px;
    background-color: #2f343a;
}

.progress .determinate {
    background-color: #fe7676;
}

.signout-btn-box {
    padding: 0 80px;
    padding-top: 200px;
}

.signout-btn {
    margin: auto;
    margin-top: 30px;
    border-color: #faf7f2;
    background-color: #fe7676;
    color: #faf7f2;
    border: 1px;
    border-width: 1px;
    border-style: solid;
}

.signout-btn:hover{
    background-color: #fea5bf;
}

.signout-btn:focus{
    background-color: #FEA1BF;
}

.progress {
    height: 15px;
    background-color: #d1d1d1;
    border-radius: 5px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
.material-icons{
    display: inline-flex;
    vertical-align: top;
}