<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mayak</title>
</head>

{{> link}}
<style>


</style>
<body>
{{> header}}
<link href="/css/error.css" type="text/css" rel="stylesheet"/>
<main>
    <div class="error-background">
        <div class="row">
            <div class="col s8 l6 offset-s2 offset-l3">
                <div class="card-panel" style="width:600px;">
                    <span class="card-title"></span>
                    <p class="card-content">
                        이미 가게를 등록하셨습니다.
                    </p>
                    <div class="row">
                        <div class="col s12" style="margin-top: 100px;">
                            <span class="input-title">판매 URL</span>
                            <div class="input-field" >
                                <i class="material-icons prefix" id="content_copy_icon">content_copy</i>
                                <input id="content_copy" type="text" value="{{ownerUrl}}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
{{> footer}}
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#content_copy_icon').addEventListener('click', (event) => {
            var copyElem = $('#content_copy');
            copyElem.removeAttribute('disabled');
            copyElem.select();
            document.execCommand('copy');
            copyElem.setAttribute('disabled', 'disabled');
        });
    });
</script>
</html>