<!-- Compiled and minified CSS -->
<link href="/css/clientCommon.css" type="text/css" rel="stylesheet"/>
<body>
<header>
    <nav class="nav-extended mayac-light-blue lighten-1 ">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">구매자 페이지</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn"> <i class="material-icons right">home</i>우아한
                    가게</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#order">메뉴 선택</a></li>
                        <li class="tab col s3 disabled"><a  href="#payment">주문 진행</a></li>
                        <li class="tab col s3 disabled"><a href="#result">주문 완료</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
</header>

