<!-- Compiled and minified CSS -->
<link href="/css/clientCommon.css" type="text/css" rel="stylesheet"/>
<body>
<header>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <div class="brand-logo center">
                <span>{{store.serviceDescription}}</span>
            </div>

            <ul class="right hide-on-med-and-down">
                <li><a id="infoLoadBtn" class="waves-effect waves-light btn"> <i class="material-icons right">home</i>가게 정보</a></li>
            </ul>
        </div>
        <div class="nav-content">


        </div>
    </nav>
</header>

