<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.test');
        window.instances = M.Sidenav.init(elems, {edge: 'right'});
    });
</script>
<!-- Compiled and minified JavaScript -->
<script src="/js/materialize.js"></script>
<!--판매자 헤더(navbar)-->
<script src="/js/common.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b61fe85153207d259015754ef56d69ab&libraries=services"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

