<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{{> link}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection" />

<body>
    {{>clientHeader}}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s11 l8">
                    <ul id="reservation-collection" class="collection" style="border: none;">


                    </ul>


                </div>

                <div class="col s1 l4 sidebar-wrapper " style="height: -webkit-fill-available;">
                    <div id="sidebar" class="grey lighten-4">
                        <a href="#!" onclick="reduce()" class="hidden-on-expand"><i class="material-icons">menu</i></a>
                        <div class="sidebar-body ">

                            <div class="section" id="hourSection">
                                <div class="input-title"> 수령 시간 </div>
                                <div class="valign-wrapper">

                                    <div class="col s6 valign" style="margin-bottom: 0.4em;">
                                        <span id="today"></span>
                                    </div>
                                    <div class="col s6 valign">
                                        <input id="reservationOpenTime" type="text" name="timeToClose" class="timepicker" placeholder="{{timeToClose}}" data-input>
                                    </div>
                                    <div class="col s2"></div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div id="order-list" class="section">

                            </div>
                            <div class="section">
                                <div class="row">
                                    <div class="col s6"><h6>총 결제 금액</h6> </div>
                                    <div class="col offset-s2 s4"><h6> <span id="totalPrice">0</span> <span>원</span></h6></div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="row">
                                    <button class="btn waves-effect waves-light btn-large" type="button" style="width: -webkit-fill-available;"> 주문하기  </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </main>


</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/js/client_order.js"></script>
<script type="module">
    import Ctrls from "/js/ctrl.js"
    document.addEventListener('DOMContentLoaded', function () {
        const reservations = new Reservation($("#reservation-collection"), $('#order-list'), orderItemHTML);
        reservations.registerEvent();
        reservations.getOpenReservations(1);

        const now = formatDate(new Date());
        $('#today').innerHTML = now;

        flatpickr('.timepicker',
            {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true,
                defaultDate: '{{timeToClose}}',
                minuteIncrement: '30',
            });

        const ctrls = new Ctrls($('.collection'));
        ctrls.registerEvent();

    });

</script> {{>clientFooter}}

</html>