<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약조회</title>
</head>

{{> link}}
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
{{> header}}
<main>
    <div class="row" id="reservation-container" style="margin:3%">
        <div class="row" id="reservation-date-container" style="font-size:25px; color:grey;">
            픽업 예정 {{pickUpDate}} 일의 예약 주문 상황
        </div>
        <div class="row divider"></div>
        <div class="row" id="reservation-list-container">
            <ul class="collection">
            {{#reservations}}
                <li data-id="{{id}}"class="collection-item avatar" >
                    <div class="row">
                        <img src="{{menu.imageUrl}}" alt="" class="circle" style="width:120px; height:120px; border-radius:10%">
                        <span class="title" style="margin-left:4%; font-size:35px; font-weight:bold;">
                        <i class="material-icons" style="color: black; font-size:40px">
                            {{#if menu.deleted}}
                            delete_forever
                            {{else}}
                            event_available
                            {{/if}}
                        </i>
                        &nbsp&nbsp
                        {{menu.name}}
                    </div>
                    </span>
                    <div style="margin-left:4%; font-size:25px; color:grey;">
                        <br/>
                        남은 수량 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <span class="availableCount"> {{availableCount}} </span> / {{maxCount.maxCount}}
                        <div class="row">
                            <i class="off sold-out material-icons small materialize-red-text text-darken-1">remove_circle_outline</i>
                            <div class="progress">
                                <div class="determinate" data-available-count="{{availableCount}}" data-max-count="{{menu.maxCount.maxCount}}" style="width: 100%"></div>
                            </div>
                            </div>
                    </div>

                </li>
            {{/reservations}}
            </ul>
        </div>
    </div>
</main>
</body>
<script src="/js/owner_reservation_display.js"></script>
{{> footer}}

</html>
