<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약조회</title>
</head>

{{> link}}
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
{{> header}}
<main>
    <div class="container">
        <div class="section">
            <h5>예약 주문 상황</h5>
            <span>( 픽업 예정일 : {{pickUpDate}} )</span>
        </div>
        <div class="divider"></div>

        <div class="row" id="reservation-list-container">
            <h5>실시간 예약 주문 상황</h5>

            <ul class="collection">
            {{#reservations}}

                <li class="collection-item" data-id="{{id}}">
                    <div class="valign-wrapper">
                        <div class="col s3 img-box">
                            <img src="{{menu.imageUrl}}" alt="이미지">
                        </div>
                        <div class="col s7 menu-info">
                            <div class="col s12 title-box">

                                {{menu.name}}
                                <i class="off sold-out material-icons small materialize-red-text text-darken-1">remove_circle_outline</i>
                            </div>
                            <div class="col s12 description-text grey-text">

                                <div class="section">
                                    <span>
                                    <i class="material-icons small">
                                        {{#if menu.deleted}}
                                        delete_forever
                                        {{else}}
                                        event_available
                                        {{/if}}
                                    </i>
                                         남은 수량
                                    <span class="availableCount" style="margin-left: 15px;"> {{availableCount}} </span> / {{maxCount.maxCount}}
                                    </span>

                                    <div class="progress col s11">
                                        <div class="determinate" data-available-count="{{availableCount}}" data-max-count="{{menu.maxCount.maxCount}}" style="width: 100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        <button class="btn btn-action waves-effect waves-light" type="button">
                            <img class="responsive-img" src="/images/macaron-1.png">
                        </div>
                    </div>
                </li>

            {{/reservations}}
            </ul>
        </div>
    </div>
</main>
</body>
<script src="/js/owner_reservation_display.js"></script>
<script src="/js/header_toast.js"></script>
{{> footer}}

</html>
