<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약조회</title>
</head>

{{> link}}
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
{{> header}}
<main>
    <div class="container">
        <div class="row" style="font-size:25px; color:grey;">
            예약 주문 상황 ( 픽업 예정일 : {{pickUpDate}} )
        </div>
        <div class="row divider"></div>
        <div class="row" id="reservation-list-container">
            <ul class="collection">
            {{#reservations}}
                <li data-id="{{id}}"class="collection-item avatar" >
                    <div class="row">
                        <img src="{{menu.imageUrl}}" alt="이미지" class="rounded circle">
                        <span class="title" style="margin-left:4%; font-size:35px; font-weight:bold;">
                        <i class="material-icons small">
                            {{#if menu.deleted}}
                            delete_forever
                            {{else}}
                            event_available
                            {{/if}}
                        </i>
                        {{menu.name}}
                        <i class="off sold-out material-icons small materialize-red-text text-darken-1">remove_circle_outline</i>

                    </div>
                    </span>
                    <div style="margin-left:4%; font-size:25px; color:grey;">
                        남은 수량
                        <span class="availableCount" style="margin-left: 15px;"> {{availableCount}} </span> / {{maxCount.maxCount}}
                        <div class="row" style="margin-top: 10px;">
                            <i class="off sold-out material-icons small materialize-red-text text-darken-1">remove_circle_outline</i>
                            <div class="progress progress col s10">
                                <div class="determinate" data-available-count="{{availableCount}}" data-max-count="{{menu.maxCount.maxCount}}" style="width: 100%"></div>
                            </div>
                            </div>
                    </div>

                </li>
            {{/reservations}}
            </ul>
        </div>
    </div>
</main>
</body>
<script src="/js/owner_reservation_display.js"></script>
<script src="/js/header_toast.js"></script>
{{> footer}}

</html>
