<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오류</title>
</head>

{{> link}}
<style>


</style>
<body>
{{> header}}
<link href="/css/error.css" type="text/css" rel="stylesheet"/>
<main>
    <div class="error-background">
        <div class="row">
            <div class="col s8 l6 offset-s2 offset-l3">
                <div class="card-panel">
                    <span class="card-title">Error!</span>
                    <p class="card-content">
                        {{errorMessage}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
{{> footer}}
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</html>