<link href="/css/common.css" type="text/css" rel="stylesheet"/>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{navTitle}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <button id="logoutBtn" class="btn right" type="button">로그아웃</button>
            <button id="unregisterBtn" class="btn right" type="button">탈퇴</button>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">home</i></a></li>
            </ul>
        </div>
    </nav>


    <ul class="sidenav sidenav-fixed" id="mobile-demo">
        <li class="title" class="flow-text">나의 가게</li>
        <ul>
            <li class="subtitle">가게정보</li>
            <div class="divider"></div>
            <li class="menu"><a href="/owner/stores/form">가게정보 등록</a></li>
            <li class="menu"><a href="#">가게정보 수정</a></li>
        </ul>
        <ul>
            <li class="subtitle">메뉴관리</li>
            <div class="divider"></div>
            <li class="menu"><a href="/owner/menus/form">메뉴 등록</a></li>
            <li class="menu"><a href="/owner/menus">메뉴 조회</a></li>
        </ul>
        <ul>
            <li class="subtitle">예약관리</li>
            <div class="divider"></div>
            <li class="menu"><a href="/owner/reservations/form">예약 등록</a></li>
            <li class="menu"><a href="/owner/reservations?condition=last">예약정보 조회</a></li>
        </ul>
    </ul>
    {{#if store}}
    <input type="hidden" id="storeId" name="storeId" value="{{store.id}}"/>
    {{else}}
        {{#if storeId}}
    <input type="hidden" id="storeId" name="storeId" value="{{storeId}}"/>
        {{/if}}
    {{/if}}
</header>