<link href="/css/common.css" type="text/css" rel="stylesheet"/>
<header>
    <!--<nav>-->
        <!--<div class="nav-wrapper">-->
            <!--<a href="#" class="brand-logo">{{navTitle}}</a>-->
            <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
            <!--<button id="logoutBtn" class="btn right" type="button">로그아웃</button>-->
            <!--<button id="unregisterBtn" class="btn right" type="button">탈퇴</button>-->
        <!--</div>-->
    <!--</nav>-->

    <ul class="sidenav sidenav-fixed" id="mobile-demo">

        <li class="center title flow-text" style="margin: 15px 0 10px 0;">
            <img style="margin-top: 15px;width: 80px;" src="/images/macaron-1.png">
            <br>MaYack
        </li>
        
        <ul>
            <li class="subtitle">가게정보</li>
            <div class="divider"></div>
            <li class="menu"><a href="/owner/stores/form" class="menu">가게정보 등록</a></li>
            <li class="menu"><a href="/owner/stores/reform" class="menu">가게정보 수정</a></li>
        </ul>
        <ul>
            <li class="subtitle">메뉴관리</li>
            <div class="divider"></div>
            <li class="menu"><a href="/owner/menus/form" class="menu">메뉴 등록</a></li>
            <li class="menu"><a href="/owner/menus" class="menu">메뉴 조회</a></li>
        </ul>
        <ul>
            <li class="subtitle">예약관리</li>
            <div class="divider"></div>
            <li class="menu"><a href="/owner/reservations/form" class="menu">예약 등록</a></li>
            <li class="menu"><a href="/owner/reservations?condition=last" class="menu">직전 예약정보 조회</a></li>
            <li class="menu"><a href="/owner/reservations?condition=current" class="menu">현재 예약정보 조회</a></li>
            <li class="menu"><a href="/owner/orders" class="menu">예약주문 조회</a></li>
        </ul>
        <div class="signout-btn-box">
            <button id="logoutBtn" class="waves-effect waves-light btn-small col s2 offset-s5 signout-btn" type="button">로그아웃</button>
        </div>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="btn-floating btn-large waves-effect waves-light sidenav-trigger nav-btn"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {{#if store}}
    <input type="hidden" id="storeId" name="storeId" value="{{store.id}}"/>
    {{else}}
        {{#if storeId}}
        <input type="hidden" id="storeId" name="storeId" value="{{storeId}}"/>
        {{/if}}
    {{/if}}
</header>