<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />

<body>
<link href="/css/common.css" type="text/css" rel="stylesheet" />
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">예약</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">home</i></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav sidenav-fixed" id="mobile-demo">
        <li class="title" class="flow-text">나의 가게</li>
        <ul>
            <li class="subtitle">가게정보</li>
            <div class="divider"></div>
            <li class="menu"><a href="#">가게정보 등록</a></li>
            <li class="menu"><a href="#">가게정보 수정</a></li>
        </ul>
        <ul>
            <li class="subtitle">메뉴관리</li>
            <div class="divider"></div>
            <li class="menu"><a href="#">메뉴 등록</a></li>
            <li class="menu"><a href="#">메뉴 조회</a></li>
        </ul>
        <ul>
            <li class="subtitle">예약관리</li>
            <div class="divider"></div>
            <li class="menu"><a href="#">예약 등록</a></li>
            <li class="menu"><a href="#">예약정보 조회</a></li>
        </ul>
    </ul>
</header>
<main>
    <div class="container">
        <a id="kakao-login-btn"></a>
        <a href="http://developers.kakao.com/logout"></a>
        <button id="siginoutBtn" class="col s3 l2 offset-s9 offset-l10 btn waves-effect waves-light"
                type="button">탈퇴

        </button>
    </div>
</main>
<div id="get-info-modal" class="modal">
    <div class="modal-content">
        <form>
            <div class="container">
                <div class="row">
                    <div class="input-title col s12 l3">
                        이메일
                    </div>
                    <div class="input-field col s12 l9">
                        <input id="user-email" type="text" name="email">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="submitBtn" class="col s3 l2 offset-s9 offset-l10 btn waves-effect waves-light"
                type="button">등록
        </button>
    </div>
</div>
</body>
<script src="/js/materialize.js"></script>
<!--판매자 헤더(navbar)-->
<script src="/js/common.js"></script>
<script src="/js/header.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="/js/kakao.js"></script>

</html>