<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{{> link}}
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
{{> header}}
<main>
    <div class="container">
        <form>
            <div class="row">

                <div class="section">
                    <h5><span id="today"></span>일의 예약 오픈 </h5>
                </div>
                <div class="divider"></div>
                <div class="section" id="hourSection">
                    <div class="valign-wrapper">
                        <div class="col s4 center">
                            <h6> 예약 마감 시간 </h6>
                        </div>
                        <div class="col s6 input-field ">
                            {{#store}}
                            <input id="storeId" name="storeId" type="hidden" value="{{storeId}}">
                            <input name="pickupTime" type="text" name="timeToClose" class="timepicker"
                                   placeholder="{{timeToClose}}" data-default-value="{{timeToClose}}"
                                   data-hour="{{hourToClose}}" data-minute="{{minuteToClose}}">
                            {{/store}}
                        </div>
                        <div class="col s2"></div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="row">
                <h5>메뉴</h5>
                <ul id="open-menu-collection" class="collection" style="border: none;">

                </ul>
                <div class="col s12">
                    <button class="btn waves-effect waves-light btn-large left" type="button" id="loadMenuBtn">메뉴 추가
                    </button>
                    <button class="btn waves-effect waves-light btn-large right" type="button" id="openReservationBtn">
                        예약 등록
                    </button>

                </div>
            </div>

        </form>
    </div>
    <div id="menuModal" class="modal">
        <div>
            {{>menulist}}
        </div>
    </div>
</main>
</body>
<script src="/js/owner_reservation.js"></script>

<script type="module">
    import Ctrls from '/js/ctrl.js'

    document.addEventListener('DOMContentLoaded', function () {
        addMenuForm($("#storeId").value);
        $('#today').innerHTML = formatDate(new Date());
        M.updateTextFields();

        //todo duplicated -- 중복 제거, 모듈로 분리
        const defaultTime = $('input[name=pickupTime]').getAttribute('data-default-value');
        flatpickr('input[name=pickupTime]',
            {
                enableTime: true,
                noCalendar: true,
                dateFormat: 'H:i',
                time_24hr: true,
                defaultDate: defaultTime,
                minuteIncrement: '30',
                maxDate: '24:00',
                disableMobile: 'true',
            });




        $('#open-menu-collection').addEventListener('click', (event) => {
            if (event.target.classList.contains('btn')) {
                const forRemove = event.target.closest('.collection-item');
                const menuId = $('input[name=menuId]' , forRemove).value;
                addClass(forRemove, 'off');
                setTimeout(() => {
                    forRemove.remove();
                }, 500);
                $( '.collection-item[data-id="'+ menuId + '"] button:disabled', $('#menu-collection')).removeAttribute('disabled');
            }
        });

        const menu = new Menu($('#menu-collection', $('#menuModal')), appendHtmlFromData, menuAddBoxHTML);
        menu.registerEvent();

        $('#openReservationBtn').addEventListener('click', fetchOpenReservation);

        const modalElems = $('.modal');
        const modalInstance = M.Modal.init(modalElems);
        $('#loadMenuBtn').addEventListener('click', async (event) => {
            if (hasClass($('.loading-wrapper'), 'off')) {
                $('.modal').M_Modal.open();
                return;
            }
            removeClass($('.loading-wrapper'), 'off');
            //todo refactor

            const menuData = await fetchAsync({
                url: '/api/stores/'+$('#storeId').value+'/menus',
                method: 'GET'
            });
            addClass($('.loading-wrapper'), 'off');

            if (menuData.length === 0) {
                $('.collection', $('#menuModal')).insertAdjacentHTML('beforeend', nonMenu());
                return;
            }
            appendHtmlFromData(menuData, menuAddBoxHTML, $('#menu-collection', $('#menuModal')), '추가하기');
            //registEventListener();
            menu.addData(menuData);
            $('.modal').M_Modal.open();
        });


        const ctrls = new Ctrls($('#open-menu-collection'));
        ctrls.registerEvent();


    });

</script>
{{> clientFooter}}
</html>