<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

.ctrl {
    margin: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D5DCE6;
  background-color: #fff;
  border-radius: 5px;
  //font-size: 30px;
}
.ctrl__counter {
  width: 100px;
  position: relative;
  color: #333C48;
  text-align: center;
  overflow: hidden;

}
.ctrl__counter.is-input .ctrl__counter-num {
  visability: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in;

}
.ctrl__counter.is-input .ctrl__counter-input {
  visability: visible;
  opacity: 1;
  transition: opacity 100ms ease-in;
}
.ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  //font-size: 30px;
  //line-height: 20px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
.ctrl__counter-num {
    width: 100%;
    text-align: center;
     background-color: transparent;
     border: none;
     border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.ctrl__button {
  width: 80px;
  height: 25px;
  //line-height: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #8498a7;
  transition: background-color 100ms ease-in;
}
.ctrl__button:hover {
  background-color: #90a2b0;
  transition: background-color 100ms ease-in;
}
.ctrl__button:active {
  background-color: #778996;
  transition: background-color 100ms ease-in;
}
.ctrl__button--decrement {
  border-radius: 5px 0 0 5px;
}
.ctrl__button--increment {
  border-radius: 0 5px 5px 0;
}

</style>
{{> link}}
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
{{> header}}
<main>
    <div class="container">
        <form>
            <div class="row">
                <div class="section">
                    <h5><span id="today"></span>일의 예약 오픈 </h5>
                </div>
                <div class="divider"></div>
                <div class="section" id="hourSection">
                    <div class="valign-wrapper">
                        <div class="col s4 center">
                            <h6> 예약 마감 시간 </h6>
                        </div>
                        <div class="col s6 input-field ">
                            <input id="reservationOpenTime" type="text" name="timeToClose" class="timepicker"
                                   placeholder="{{timeToClose}}">
                        </div>
                        <div class="col s2"></div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="row">
                <h5>메뉴</h5>
                <ul id="menu-collection" class="collection" style="border: none;">

                </ul>
                <div class="col s12">
                    <button class="btn waves-effect waves-light btn-large left" type="button" id="loadMenuBtn">메뉴 추가
                    </button>
                    <button class="btn waves-effect waves-light btn-large right" type="button" id="openReservationBtn">
                        예약 등록
                    </button>

                </div>
            </div>

        </form>
    </div>
    <div id="menuModal" class="modal">
        <div>
            {{>menulist}}
        </div>
    </div>
</main>
</body>
{{> footer}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        addMenuForm(1);
        $('#today').innerHTML = formatDate(new Date());
        M.updateTextFields();
        const elems = $All('.timepicker');
        const instances = M.Timepicker.init(elems, {
            'onSelect': (hour, minute) => console.log(hour, minute),
            'defaultTime': '{{timeToClose}}',
            'autoClose': true,
            'twelveHour': false
        });

        const modalElems = $All('.modal');
        const modalInstances = M.Modal.init(modalElems);
        $('.collection').addEventListener('click', (event) => {
            if (event.target.classList.contains("btn")) {
                const forRemove = event.target.closest('.collection-item');
                addClass(forRemove, "off");
                setTimeout(() => {
                    forRemove.remove();
                }, 500);
            }
        });

        const menu = new Menu($('.collection', $('#menuModal')), appendHtmlFromData, menuAddBoxHTML);
        menu.registerEvent();

        $('#openReservationBtn').addEventListener('click', fetchOpenReservation);

        //$('#loadMenuBtn').addEventListener('click', loadMenuModal);
        $('#loadMenuBtn').addEventListener('click', async (event) => {
            if(hasClass( $('.loading-wrapper'),'off')){
                modalInstances[1].open();
                return;
            }
            removeClass( $('.loading-wrapper'), 'off');
            //todo refactor

            const menuData = await fetchAsync({
                url: "/api/owner/1/menu",
                method: "GET"
            });
            addClass( $('.loading-wrapper'), 'off');

            if (menuData.length === 0) {
                $('.collection', $('#menuModal')).insertAdjacentHTML('beforeend', nonMenu());
                return;
            }
            appendHtmlFromData(menuData, menuAddBoxHTML, $('.collection', $('#menuModal')), '추가하기');
            //registEventListener();
            menu.addData(menuData);
            modalInstances[1].open();
        })


        const ctrls = new Ctrls($('.collection'));
        ctrls.registerEvent();


    });

    const fetchOpenReservation = ()=>{
        let data = {'hourToClose' : $('input[name=timeToClose]').M_Timepicker.hours || {{hourToClose}},
        'minuteToClose': $('input[name=timeToClose]').M_Timepicker.minutes || {{minuteToClose}} }
        data.reservationDTOs = Array.from($All('.collection-item')).reduce( (accum, cur) => {
            const dto = { 'menuId' : $('input[name=menuId]', cur).value , 'maxCount' : $('input[name=maxCount]', cur).value, 'personalMaxCount': $('input[name=personalMaxCount]', cur).value}
            accum.push( dto);
            return accum; }, []);
        fetchAsync({url:"/api/stores/1/reservations/temp", method:'post', body: data})
    }


    const loadMenuModal = (event) => {
    };
    const formatDate = (date) => {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    };

    const addMenuForm = async (storeId) => {
        const menuData = await fetchAsync({
            url: "/api/owner/" + storeId + "/menus/active",
            method: "GET"
        });
        //$('.loading-wrapper').remove();
        if (menuData.length === 0) {
            $('.collection').insertAdjacentHTML('beforeend', nonMenu());
        }
        appendHtmlFromData(menuData, menuBoxHTML, $('.collection'), '삭제하기');
        M.Range.init($All("input[type=range]"))
    };

    const appendHtmlFromData = (dataArr, templateFunc, parentElement, btnName) => {
        const html = dataArr.reduce((accum, cur) => {
            cur.btnName = btnName;
            return accum + templateFunc(cur);
        }, '');
        parentElement.insertAdjacentHTML('beforeend', html);
    };
    const menuBoxHTML = ({id, imgUrl, name, description, price, btnName, maxCount = 0, personalMaxCount = 0}) => {
        const stringPrice = numberToLocaleString(price);
        return `<li class="collection-item" >
                    <input type="hidden" name="menuId" min="0" max="100" value="${id}"/>
                    <div class="valign-wrapper">
                        <div class="col s3 img-box">
                            <img class="responsive-img" src="${imgUrl}">
                        </div>
                        <div class="col s9">
                            <div class="col s12 title-box">
                                ${name}
                            </div>
                            <div class="col s12 description-text grey-text">
                                ${description}
                            </div>
                            <div class="col s12 valign-wrapper">
                                 <div class="col s9">
                                    <div class="col s3"><span> 최대 수량 </span></div>
                                     <div class="col s9">
                                        <div class='ctrl'>
                                            <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                            <div class='ctrl__counter'>
                                                <input type="text" class='ctrl__counter-num browser-default' value="${maxCount}"> </input>
                                            </div>
                                            <div class='ctrl__button ctrl__button--increment'>+</div>
                                        </div>
                                      </div>
                                      <div class="col s3"><span>  인당 최대 예약가능 수량 </span></div>
                                     <div class="col s9">
                                          <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                                <div class='ctrl__counter'>
                                                    <input type="text" class='ctrl__counter-num browser-default' value="${personalMaxCount}"> </input>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment'>+</div>
                                           </div>
                                      </div>
                                  </div>

                                <div class="col s3">
                                    <button class="btn waves-effect waves-light" type="button" style="min-width: 100px;">${btnName}</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>`
    };

    const menuAddBoxHTML = ({id, imgUrl, name, description, price, btnName, maxCount = 0, personalMaxCount = 0}) => {
        const stringPrice = numberToLocaleString(price);
        return `<li class="collection-item" data-id="${id}" data-max-count="${maxCount}" data-person-max-count="${personalMaxCount}" >
                    <div class="valign-wrapper">
                        <div class="col s3 img-box">
                            <img class="responsive-img" src="${imgUrl}">
                        </div>
                        <div class="col s9">
                            <div class="col s12 title-box">
                                ${name}
                            </div>
                            <div class="col s12 description-text grey-text">
                                ${description}
                            </div>
                            <div class="col s8 l9 price-box">
                                <span class="price">${stringPrice}</span>
                                <span class="won">원</span>
                            </div>
                            <button class="col s4 l3  btn waves-effect waves-light"
                                    type="button">${btnName}
                            </button>

                        </div>
                    </div>
                </li>`
    };

 class Ctrls {

    constructor(wrapper){
        this.wrapper = wrapper;
    }
    decrement() {
      let counter = this.targetInput.value;
      const nextCounter = (this.counter > 0) ? --counter : counter;
      this.targetInput.value = nextCounter;
      this.updatePrevValue(nextCounter);
    };

    increment() {
      let counter = this.targetInput.value;
      const nextCounter = (counter < 9999999999) ? ++counter : counter;
      this.targetInput.value = nextCounter;
      this.updatePrevValue(nextCounter);
    };

    initClass(eventTarget){
        this.targetInput = $('.ctrl__counter-num', eventTarget.closest('.ctrl'));
        this.counter = Number(this.targetInput.value);
    };

    updatePrevValue(value){
        this.targetInput.setAttribute('data-prev', value);
    };
    backToPrevValue(){
        this.targetInput.value = this.targetInput.getAttribute('data-prev');
    };

    handleClickEvent(event) {
            if(hasClass(event.target, 'ctrl__button--increment')){
             console.log('up');
             this.initClass(event.target);
             this.increment();
             return;
            }
             if(hasClass(event.target, 'ctrl__button--decrement')){
                console.log('down');
                 this.initClass(event.target);
                 this.decrement();
                return;
         }
    };
    handleChangeEvent(event){
            if(hasClass(event.target, 'ctrl__counter-num')){
             console.log('change');
              this.initClass(event.target);
             var parseValue = parseInt(event.target.value);
                if (isNaN(parseValue) || parseValue < 0) {
                    this.backToPrevValue();
                    return;
                }
                this.targetInput.value = parseValue;
                this.updatePrevValue(parseValue);

            }
    }
    registerEvent() {
        this.wrapper.addEventListener('click', this.handleClickEvent.bind(this));
        this.wrapper.addEventListener('change', this.handleChangeEvent.bind(this));
    }
}

class Menu{
    constructor(wrapper, appendCallback, htmlTemplate){
        this.wrapper = wrapper;
        this.appendCallback = appendCallback;
        this.htmlTemplate = htmlTemplate;
    }
    addData(menus){
        this.menus = menus.reduce( (accum, cur) => { accum[cur.id] = cur; return accum;}, {});
    }
    registerEvent() {
        this.wrapper.addEventListener('click', this.handleClickEvent.bind(this));
    }
    handleClickEvent(event){
        if(event.target.nodeName === 'BUTTON'){
             console.log('click');
             const clickBtn = event.target;
             const menuId = clickBtn.closest('.collection-item').getAttribute('data-id');
            //todo Refactor
             appendHtmlFromData([ this.menus[menuId] ], menuBoxHTML, $('#menu-collection'), '삭제하기');
            clickBtn.setAttribute('disabled', 'disabled');
        }
    }
}
</script>
</html>