<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메뉴등록</title>
</head>

{{> link}}
<style>


</style>
<body>
{{> header}}
<main>
    <div class="container">
        <div class="section">
            <h5>메뉴 등록하기</h5>
        </div>
        <div class="divider"></div>
        <form>
            <div class="row" id="input_menu_form">
                <div class="row">
                    <div class="input-title col s12 l2">
                        <label>*필수값</label>
                        메뉴명
                    </div>
                    <div class="input-field col s12 l10">
                        <input class="input_counter custom-validate" id="input_menu_name" type="text" data-length="20" required>
                        <span class="helper-text" data-error="메뉴 이름이 너무 깁니다" data-success="right">20자 이하로 작성해주세요</span>
                        <label for="input_menu_name">메뉴명</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col s12 l2">
                        <label>*필수값</label>가격
                    </div>
                    <div class="input-field col s12 l10">
                        <input class="input_counter custom-validate" id="input_menu_price" type="text" data-length="9"
                               data-regex="^[1-9][0-9]*$" required>
                        <span class="helper-text" data-error="잘못된 가격입니다" data-success="right">가격을 입력해주세요</span>
                        <label for="input_menu_price">가격</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col s12 l2">메뉴설명</div>
                    <div class="input-field col s12 l10">
                    <textarea id="input_menu_description" class="materialize-textarea input_counter"
                              data-length="300"></textarea>
                        <span class="helper-text" data-error="wrong" data-success="right">300자 이하로 작성해주세요</span>
                        <label for="input_menu_description">메뉴설명</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col s12 l2">
                        <label>*필수값</label>메뉴이미지
                    </div>
                    <div class="input-field col s12 l10">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>파일선택</span>
                                <input id="input_menu_img" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="file_path" class="file-path custom-validate" type="text" required>
                                <label for="file_path">첨부파일</label>
                                <span class="helper-text" data-error="10MB 이하의 이미지파일만 업로드가 가능합니다"
                                      data-success="right">이미지파일 업로드</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="input_menu_btn" type="button"
                        class="col s3 l2 offset-s9 offset-l10 btn waves-effect waves-light">
                    등록
                    <i class="material-icons right">send</i>
                </button>

            </div>
        </form>
    </div>
</main>
</body>
{{> footer}}
<script type="module">
    import {CustomInputValidator} from '/js/override.js';
    const createMenu = (event) => {
        if (!validateForm($('form')))
            return;
        event.preventDefault();
        const url = '/api/stores/' + $('#storeId').value + '/menus';
        const nameElem = $('#input_menu_name');
        const priceElem = $('#input_menu_price');
        const descriptionElem = $('#input_menu_description');
        const fileElem = document.querySelector('#input_menu_img');
        const file = fileElem.files[0];
        let formData = new FormData();

        if (!file.type.match('image.*') || file.size > 10485760) {
            addClass($('#file_path'), 'invalid');
            return;
        }
        console.log(file);
        formData.append('file', file, 'menu-' + Date.now() + '-' + file.name);

        formData.append('name', nameElem.value);
        formData.append('price', priceElem.value);
        formData.append('description', descriptionElem.value);

        const xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);

        xhr.onload = function (progressEvent) {
            const status = progressEvent.target.status;
            if (status === 200) {
                document.location = progressEvent.target.response;
            }
        };

        xhr.send(formData);
    }


    document.addEventListener('DOMContentLoaded', () => {
        const elems = $All('.sidenav');
        const counter = $All('.input_counter');
        const instances = M.Sidenav.init(elems, {});
        const inputMenuBtn = $('#input_menu_btn')
        inputMenuBtn.addEventListener('click', createMenu);
        M.CharacterCounter.init(counter);
        const inputValidator = new CustomInputValidator();

    });

</script>
</html>