<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가게등록</title>
</head>

{{> link}}
<style>


</style>
<body>
{{> header}}
<link href="/css/info.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<main>
    <div class="container">
        <div class="section">
            <h5>가게 등록하기</h5>
        </div>
        <div class="divider"></div>
        <form>
            <div class="row">
                <ul>
                    <li>
                        <div class="input-title col s12 l2">
                            <label>*필수값</label>
                            업체명
                        </div>
                        <div class="input-field col s12 l10">
                            <input class="input_counter custom-validate" type="text" id="input_store" name="storeName" type="text"
                                   data-length="20" data-regex="^[가-힣]*$" required>
                            <span class="helper-text" data-error="영어, 공백, 숫자 외 한글로만 입력" data-success="right">20자 이하로 적어주십시오</span>
                            <label for="input_store">업체명</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-title col s12 l2">
                            <label>*필수값</label>
                            서비스명
                        </div>
                        <div class="input-field col s12 l10 ">
                            <input class="input_counter custom-validate"  type="text" required id="input_service" name="serviceDescription"
                                   type="text" data-length="30" required>
                            <span class="helper-text" data-error="wrong" data-success="right">30자 이하로 적어주십시오</span>
                            <label for="input_service">서비스명</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-title col s12 l2 ">
                            <label>*필수값</label>
                            대표자명
                        </div>
                        <div class="input-field col s12 l10">
                            <input class="input_counter custom-validate" id="input_owner" name="ownerName" type="text"
                                   data-length="5" data-min-length="2" data-regex="^[가-힣]*$" required>
                            <span class="helper-text" data-error="영어, 공백, 숫자 외 한글로만 입력" data-success="right">5자 이하로 적어주십시오</span>
                            <label for="input_owner">대표자명</label>
                        </div>
                    </li>
                    <li>
                        <div class="input-title col s12 l2">
                            <label>*필수값</label>
                            대표이미지
                        </div>
                        <div class="input-field col s12  l10">
                            <!-- <form action="#"> -->
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>파일선택</span>
                                    <input type="file" name="imageFile">
                                </div>
                                <div class="file-path-wrapper">
                                    <input id="file_path" class="file-path" type="text"
                                           required>
                                    <label for="file_path">첨부파일</label>
                                    <span class="helper-text" data-error="10MB 이하의 이미지파일만 업로드가 가능합니다"
                                          data-success="right">이미지파일 업로드</span>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </li>
                    <li>
                        <div class="input-title col s12 l2">
                            <label>*필수값</label>
                            주소
                        </div>
                        <div class="input-field col s5 l3 ">
                            <input id="input_address_postcode" name="postCode" class="custom-validate" type="text" placeholder="우편번호"
                                   readonly required>
                        </div>
                        <div class="input-field col s4 l3">
                            <a class="waves-effect waves-light btn-small" onclick="sample4_execDaumPostcode()">우편번호
                                찾기</a>
                        </div>
                        <div class="input-field-nonmsg col s12 l10 offset-l2">
                            <input id="input_address_main" name="address" class="custom-validate" type="text"
                                   placeholder="도로명주소" readonly data-length="50" required>
                        </div>
                        <div class="input-field col s12 l10 offset-l2">
                            <input class="input_counter custom-validate" id="input_address_sub" name="addressDetail" type="text"
                                   data-length="20">
                            <label for="input_address_sub">상세주소</label>
                            <span class="helper-text" data-error="wrong" data-success="right"> 10자 이하로 적어주십시오</span>
                        </div>
                    </li>
                    <li>
                        <div class="input-title col s12 l2">
                            <label>*필수값</label>
                            핸드폰번호
                        </div>
                        <div class="col s12 l10">
                            <div class="row">
                                <div class="input-field col s3 l2">
                                    <input id="input_phone1" name="phoneNumber_1" class="custom-validate" type="text"
                                           data-length="3" data-regex="^01(?:0|1|[6-9])$" required>
                                    <span class="helper-text" data-error="wrong"
                                          data-success="right">3자 이하로 적어주십시오</span>
                                </div>
                                <div class="input-title col s1 l1">
                                    -
                                </div>
                                <div class="input-field col s3 l2">
                                    <input id="input_phone2" name="phoneNumber_2" class="custom-validate" type="text"
                                           data-length="4" data-min-length="3" data-regex="^[0-9]*$" required>
                                    <span class="helper-text" data-error="wrong"
                                          data-success="right" >4자 이하로 적어주십시오</span>
                                </div>
                                <div class="input-title col s1 l1">
                                    -
                                </div>
                                <div class="input-field col s3 l2">
                                    <input id="input_phone3" name="phoneNumber_3" class="custom-validate" type="text"
                                           data-length="4" data-min-length="4" data-regex="^[0-9]*$" required>
                                    <span class="helper-text" data-error="wrong"
                                          data-success="right" >4자 이하로 적어주십시오</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-title col s12 l2">
                            홍보문구
                        </div>
                        <div class="input-field col s12 l10">
                            <textarea id="input_description" name="description"
                                      class="materialize-textarea input_counter custom-validate" data-length="300"></textarea>
                            <span class="helper-text" data-error="wrong" data-success="right">300자 이하로 적어주십시오</span>
                            <label for="input_description">홍보문구</label>
                        </div>
                    </li>
                </ul>
                <button id="previewBtn" class="col s3 l2 offset-s5 offset-l7 btn waves-effect waves-light " type="button">
                    미리보기
                </button>
                <button id="submitBtn" class="col s3 l2 offset-s1 offset-l1 btn waves-effect waves-light" type="button">
                    등록 <i class="material-icons right">send</i>
                </button>

            </div>

        </form>
    </div>
    <div id="previewModal" class="modal">
        {{>storeInfo}}
    </div>
</main>
</body>
{{> footer}}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b61fe85153207d259015754ef56d69ab&libraries=services"></script>
<script src="/js/storeinfo.js"></script>
<script type="module">
    import {CustomInputValidator} from '/js/override.js';
    document.addEventListener('DOMContentLoaded', () => {
        const elems = $All('.sidenav');
        const counter = $All('.input_counter');
        const instances = M.Sidenav.init(elems, {});
        const submitBtn = $('#submitBtn');
        submitBtn.addEventListener('click', createStore);
        M.CharacterCounter.init(counter);
        const inputValidator = new CustomInputValidator();

        const modalElems = $('.modal');
        const modalInstance = M.Modal.init(modalElems);
        $('#previewBtn').addEventListener('click', async (event) => {
            const fileElem = $('input[type=file]');
            if(fileElem.files.length !== 1  || fileElem.files[0].size > 10485760){
                addClass($('#file_path'), 'invalid');
                return;
            }
            const serviceName = $('#input_service').value;
            const ownerName = $('#input_owner').value;
            const phone = $('#input_phone1').value + ' - ' + $('#input_phone2').value + ' - ' + $('#input_phone3').value ;
            // const imgFile = $('input[type=file]').files[0];
            const address = $('#input_address_main').value + ' ' + $('#input_address_sub').value;
            const description = $('#input_description').value;
            const imgUrl = $('#info-img').src;
            $('.modal').M_Modal.open();
            storeViewLoad(serviceName, ownerName, imgUrl, address, phone, description);
        });

    });
    const createStore = () => {
        if (!validateForm($('form')))
            return;
        let formData = new FormData();
        serializeArray($('form')).forEach( e => formData.append(e.name, e.value));
        const fileElem = $('input[type=file]');
        const filePathElem = $('#file_path');

        if(fileElem.files.length === 0 || (fileElem.files.length !== 0
            && fileElem.files[0].size > 10485760) && !fileElem.files[0].type.match('image.*')){
            addClass(filePathElem, 'invalid');
            fileElem.focus();
            return;
        }

        replaceClass(filePathElem, 'invalid', 'valid');
        const file = fileElem.files[0];
        formData.append(fileElem.name, file, 'store-' + Date.now() + '-' + file.name);

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/stores', true);

        xhr.onload = function (progressEvent) {
            const status = progressEvent.target.status;
            if(status === 200) {
                document.location = progressEvent.target.response;
            }
        };

        xhr.send(formData);
    }

</script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    //todo 포스트코드 선택시 창 닫기, 창 크기 조절하기
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if (fullRoadAddr !== '') {
                    fullRoadAddr += extraRoadAddr;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $('input[name=postCode]').value = data.zonecode; //5자리 새우편번호 사용
                $('input[name=address]').value = fullRoadAddr;
                if(hasClass($('input[name=postCode]'), 'invalid') || hasClass($('input[name=address]'), 'invalid')){
                    removeClass($('input[name=postCode]'), 'invalid');
                    removeClass($('input[name=address]'), 'invalid');
                }
                addClass($('input[name=postCode]'), 'valid');
                addClass($('input[name=address]'), 'valid');
                return;
            }
        }).open({
            popupName: 'addressPopup',
            autoClose: true,
        });
    }
</script>
</html>
