<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{{> link}}
<link href="/css/owner.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
{{> header}}
<main>
    <div class="container">
        <div class="row">
            <div class="section">
                <h5><span id="today">{{lastDay}}</span>일 예약 오픈</h5>
            </div>
            <div class="divider"></div>
        </div>
        <div id="show-order-collections">
            {{#orders}}
            <div class="card order-collection">
                {{#if isPickedup}}
                <div class="black-wrapper">
                    <span class="card-title activator white-text">수령완료</span>
                    <p class ="margin-top-80">
                        <button class="btn return-btn waves-effect waves-light" type="button" style="min-width: 100px;">
                            되돌리기
                        </button>
                    </p>
                </div>
                <div class="card-content off" data-id="{{id}}">
                    <input type="hidden" name="isPickedup" value="true"/>
                    <span class="card-title activator grey-text text-darken-4">
                        수령인: {{customer.name}}
                        <i class="material-icons right">more_vert</i></span>
                    <div class="col s9">
                        <div class="col s12 description-text grey-text">
                            <label>전화번호 : </label>
                            {{customer.phoneNumber}}
                        </div>
                        <div class="col s12 description-text grey-text">
                            <label>테이크아웃 시간 : </label>
                            {{pickupTime}}
                        </div>
                    </div>
                    <p class ="margin-top-80">
                        <button class="btn accept-btn waves-effect waves-light" type="button" style="min-width: 100px;">
                            수령하기
                        </button>
                    </p>
                </div>
                {{else}}
                <div class="black-wrapper off">
                    <span class="card-title activator white-text">수령완료</span>
                    <p class ="margin-top-80">
                        <button class="btn return-btn waves-effect waves-light" type="button" style="min-width: 100px;">
                            되돌리기
                        </button>
                    </p>
                </div>
                <div class="card-content" data-id="{{id}}">
                    <input type="hidden" name="isPickedup" value="false"/>
                    <span class="card-title activator grey-text text-darken-4">수령인: {{customer.name}}<i
                            class="material-icons right">more_vert</i></span>
                    <div class="col s9">
                        <div class="col s12 description-text grey-text">
                            <label>전화번호 : </label>
                            {{customer.phoneNumber}}
                        </div>
                        <div class="col s12 description-text grey-text">
                            <label>테이크아웃 시간 : </label>
                            {{pickupTime}}
                        </div>
                    </div>
                    <p>
                        <button class="btn accept-btn waves-effect waves-light" type="button" style="min-width: 100px;">
                            수령하기
                        </button>
                    </p>
                </div>
                {{/if}}
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">주문목록<i
                            class="material-icons right">close</i></span>
                    <table>
                        <thead>
                        <tr>
                            <th>Menu Name</th>
                            <th>Item Count</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#orderItems}}
                        <tr>
                            <td>{{reservation.menu.name}}</td>
                            <td>{{itemCount}}</td>
                            <td>{{itemTotalPrice}}</td>
                        </tr>
                        {{/orderItems}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/orders}}
        </div>
    </div>
</main>
</body>
<script>
    const updatePickedUpStatus = async (card_content) => {
        const isPickedup = $('input[name=isPickedup]', card_content);

        const picked = await fetchAsync({
            url: "/api/orders/" + card_content.getAttribute('data-id'),
            method: "POST",
            body: {"isPickedup": (isPickedup.value == 'true')}
        });

        console.log(picked);
        isPickedup.value = picked.isPickedup;

    }

    document.addEventListener('DOMContentLoaded', function () {

        $('#show-order-collections').addEventListener('click', (event) => {

            const order_collection = event.target.closest('.order-collection');
            const card_content = $('.card-content', order_collection);
            const black_wrapper = $('.black-wrapper', order_collection);

            if (hasClass(event.target, 'accept-btn')) {
                addClass(card_content, 'off');
                removeClass(black_wrapper, 'off');
            } else if (hasClass(event.target, 'return-btn')) {
                removeClass(card_content, 'off');
                addClass(black_wrapper, 'off');
            }

            updatePickedUpStatus(card_content);

        });

    });


</script>
<script type="module">


</script>
{{> clientFooter}}
</html>