<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/css/override.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/css/common.css" type="text/css" rel="stylesheet"/>
<link href="/css/login.css" type="text/css" rel="stylesheet"/>


<body>
<div class="container">
    <img class="responsive-img center-block main_logo" src="./images/logo.png"/>
    <h5 class="indigo-text center">Please, login into your account</h5>
    <div class="row">
        <div class="z-depth-1 grey lighten-4 col s4 offset-s4 btn_container">
            <div class="center-block">
                <div class="col s10 offset-s1">
                    <a id="kakao-login-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="get-info-modal" class="modal">
    <div class="modal-content">
        <form>
            <div class="container">
                <div class="row">
                    <div class="input-title col s12 l3">
                        <label>*필수값</label>
                        이메일
                    </div>
                    <div class="input-field col s12 l9">
                        <input id="user-email" class="custom-validate" data-regex="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" type="text" name="email" required>
                        <span class="helper-text" data-error="wrong" data-success="right">이메일 입력</span>
                    </div>
                    <div class="input-title col s12 l3">
                        <label>*필수값</label>
                        이름
                    </div>
                    <div class="input-field col s12 l9">
                        <input id="user-name" class="input_counter custom-validate" type="text" name="name" data-length="5" data-regex="^[가-힣]*$" data-min-length="2" required>
                        <span class="helper-text" data-error="wrong" data-success="right">5자 이하</span>
                    </div>
                    <div class="input-title col s12 l3">
                        <label>*필수값</label>
                        핸드폰번호
                    </div>
                    <div class="col s12 l9">
                        <div class="row">
                            <div class="input-field col s3 l3">
                                <input name="phoneNumber_1" class="custom-validate" type="text"
                                       data-length="3" data-regex="^01(?:0|1|[6-9])$" required>
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">3자 이하</span>
                            </div>
                            <div class="input-title col s1 l1">
                                -
                            </div>
                            <div class="input-field col s3 l3">
                                <input name="phoneNumber_2" class="custom-validate" type="text"
                                       data-length="4" data-min-length="3" data-regex="^[0-9]*$" required>
                                <span class="helper-text" data-error="wrong"
                                      data-success="right" >4자 이하</span>
                            </div>
                            <div class="input-title col s1 l1">
                                -
                            </div>
                            <div class="input-field col s3 l3">
                                <input name="phoneNumber_3" class="custom-validate" type="text"
                                       data-length="4" data-min-length="4" data-regex="^[0-9]*$" required>
                                <span class="helper-text" data-error="wrong"
                                      data-success="right" >4자 이하</span>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 l9">
                        <input id="user-id" type="hidden" name="uuid">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="submitBtn" class="col s3 l2 offset-s9 offset-l10 btn waves-effect waves-light"
                type="button">등록
        </button>
    </div>
</div>
</body>
{{> loginFooter}}
<script type="module">
    import {CustomInputValidator} from '/js/override.js'
    document.addEventListener('DOMContentLoaded', () => {
        const counter = $All('.input_counter');
        const elems = $All('.sidenav');
        const instances = M.Sidenav.init(elems, {});
        M.CharacterCounter.init(counter);
        const submitBtn = $('#submitBtn');

        submitBtn.addEventListener('click', kakaoSignUp);
        const inputValidator = new CustomInputValidator();

    });
</script>
</html>