<div class="row">
    <div id="info-store-name" class=" info-store-name nav-wrapper">
    </div>
    <div class="col s12" style="padding:0">
        <div class="parallax-container">
            <div class="parallax">
                <img id="info-img" src="">
            </div>
        </div>
    </div>
    <div class="info-section col s12">
        <ul>
            <li id="info-description" class="col s12 info-description">
            </li>
            <li class="col s12 l5 info-title">
                전화번호
            </li>
            <li id="info-phone" class="col s12 l7 info-contents">
            </li>
            <li class="col s12 l5 info-title">
                대표명
            </li>
            <li id="info-name" class="col s12 l7 info-contents">
            </li>
            <li class="col s12 l5 info-title">
                주소
            </li>
            <li id="info-address" class="col s12 l7 info-contents">
            </li>
        </ul>
        <div id="info-map" class="info-map"></div>
    </div>
</div>


<script>

</script>
</html>